body {
  background-color: #f7f7f7;
  /* background-color: #92bdb7; */
  /* font-family: 'Lato'; */
  /* font-family: 'Montserrat'; */
  font-family: "Poppins";
  /* font-family: 'Roboto'; */
}

.navbar-light .navbar-nav .nav-item > a:hover {
  color: #00a69c;
}
.navbar-light .navbar-nav .nav-item > a:hover .child{
  color: #00a69c;
}
input[type="date"]:disabled { 
  background-color: white;
}

/* .jumbotron, .jumbotron-fluid {
  background-color: #00a69c!important;
} */

.bg-special {
  background-color:  #00a69c!important;
}

hr.class-1 { 
  border-top: 3px dotted lightgray; 
} 

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  /*To prevent the page top from being hidden by navbar */
  padding-top: 35px;
}

.profile-img {
  height: 80%;
  width: 80%;
}

.personal-details {
  text-align: center;
  word-wrap: break-word;
}

.profile {
  background-color: #e9ecef;
}

.header-img {
  max-width: 100%;
  height: auto;
  background: url("../images/header-img/header1.jpg");
  background-size: cover;
  /* min-height: 600px; */
}

.search-box {
  position: relative;
  bottom: 20px;
  right: 180px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

/* mouse over link */
a:hover {
  color: #d85f44;
}

.search {
  width: 100%;
  /* position: relative; */
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #d85f44;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #d85f44;
}

.searchButton {
  width: 60px;
  height: 50px;
  border: 2px solid #d85f44;
  /* background: #00B4CC; */
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 30px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Dropdown Button */
.dropbtn {
  background-color: #d85f44;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #d85f44;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

.footer-color {
  background-color: #75917a;
  color: white;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em;
}

/********************* view_companies.php **********************/

/**** Company grid ****/
.company-grid,
.company-grid .company-image {
  position: relative;
}
.company-grid {
  font-family: Poppins, sans-serif;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease 0s;
  background-color: white;
  height: 380px;
  margin-bottom: 15px;
  padding: 20px 20px 0px 20px;
}

.company-grid a {
  color: black;
}
.company-grid a:hover {
  text-decoration: none;
  color: inherit;
}
.company-grid:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.company-grid .company-image {
  height: 50%;
}
.company-grid .company-image a {
  display: block;
}
.company-grid .company-image img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.company-grid .company-content {
  width: 100%;
  height: auto;
  
}
.company-grid .company-discount-label,
.company-grid .company-new-label {
  color: #fff;
  background-color: #16a085;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.3s;
}
.company-grid .company-discount-label {
  left: auto;
  right: 10px;
  background-color: #d7292a;
}
.company-grid .company-content {
  padding: 25px 0px 25px 0px;
}
.company-grid .title {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
}
.company-description {
  font-size: 16px;
  color: #707070;
}
.description {
  font-size: 14px;
  color: #707070;
}
.company-grid .title a {
  color: #222;
}
.company-grid .title a:hover {
  color: #16a085;
}
.company-grid .price {
  color: #16a085;
  font-size: 17px;
  font-weight: 700;
  margin: 0 2px 15px 0;
  display: block;
}
.company-grid .price span {
  color: #909090;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}
.company-grid .add-to-cart {
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 10px 20px;
  color: #888;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s;
}
.company-grid:hover .add-to-cart-hover {
  border: 1px solid transparent;
  background: #16a085;
  color: #fff;
}
.company-grid .add-to-cart-hover:hover {
  background-color: #505050;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.company-content .rating {
  padding: 0;
  margin: 0 0 7px;
  list-style: none;
}
.fa-star {
  /*color: #ffd200;*/
}
.company-grid .rating li {
  font-size: 12px;
  color: #fcad03;
  transition: all 0.3s ease 0s;
}
.company-grid .rating li.disable {
  color: rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 990px) {
  .company-grid {
    margin-bottom: 30px;
  }
}
/********************* view_company.php **********************/
.product-content .title {
  height: 65px;
}

.product-grid {
  font-family: Poppins, sans-serif;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease 0s;
  background-color: white;
  height: 420px;
  margin-bottom: 15px;
  padding: 20px 20px 0px 20px;
}
.product-grid .product-content {
  padding: 10px 25px 0px 25px;
}
/********************* view_products.php **********************/
/**** Product grid ****/
.product-grid,
.product-grid .product-image {
  position: relative;
}

.product-grid:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product-grid .product-image {
  height: 50%;
}
.product-grid .product-image a {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.product-grid .product-discount-label,
.product-grid .product-new-label {
  color: #fff;
  background-color: #16a085;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: all 0.3s;
}
.product-grid .product-discount-label {
  left: auto;
  right: 10px;
  background-color: #d7292a;
}
.product-grid .title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
}
.product-grid .title a {
  color: #222;
}
.product-grid .title a:hover {
  color: #16a085;
}
.product-grid .price {
  color: #16a085;
  font-size: 17px;
  font-weight: 700;
  margin: 0 2px 15px 0;
  display: block;
}
.product-grid .price span {
  color: #909090;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}
.product-grid .add-to-cart {
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 10px 20px;
  color: #888;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s;
}
.product-grid:hover .add-to-cart-hover {
  border: 1px solid transparent;
  background: #16a085;
  color: #fff;
}
.product-grid .add-to-cart-hover:hover {
  background-color: #505050;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-content .rating {
  padding: 0;
  margin: 0 0 7px;
  list-style: none;
}
.product-grid .rating li {
  font-size: 12px;
  color: #ffd200;
  transition: all 0.3s ease 0s;
}
.product-grid .rating li.disable {
  color: rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}
/********************* shoppingcart.php **********************/
.cart_product_img .product-discount-label,
.cart_product_img .product-new-label {
  color: #fff;
  background-color: #16a085;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 5px;
  transition: all 0.3s;
}
.cart_product_img .product-discount-label {
  left: auto;
  right: 20px;
  background-color: #d7292a;
}
#checkout-button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.change_qty_btn:hover {
  text-decoration: none !important;
}
.change_qty_btn:active {
  text-decoration: none !important;
}
.change_qty_btn:visited {
  text-decoration: none !important;
}
.change_qty_btn:focus {
  text-decoration: none !important;
}
/********************* view_product.php **********************/
/**** Product grid ****/
.single_product_image_grid {
  height: 50%;
}
.single_product_image_grid a {
  display: block;
}
.single_product_image {
  width: 10%;
  height: auto;
  max-height: 100%;
}

/********************* inbox.php **********************/
.container {
  max-width: 1170px;
  margin: auto;
}
#go_back_btn {
  color: black;
  text-decoration: none;
}
#message_body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
img {
  max-width: 100%;
}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}
.inbox_people2 {
  overflow: scroll;
  height: 550px;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}
.chat_ib h5 span {
  font-size: 13px;
  float: right;
}
.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}
.chat_img {
  /*float: left;*/
  width: 50%;
}
.chat_ib {
  /*float: left;*/
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  white-space: initial;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg {
  width: 57%;
}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
  white-space: initial;
}
.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {
  padding: 0 0 50px 0;
}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.user_card {
  height: 450px;
  width: 350px;
  margin-top: 100px;
  margin-bottom: auto;
  background: #5bc0de;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #f7f7f7;
  padding: 10px;
  text-align: center;
  border: solid grey;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.form_container {
  margin-top: 100px;
}

.login_button {
  width: 100%;
  background: #f7f7f7;
  color: black;
}

.login_button {
  box-shadow: none;
  outline: 0px;
}

.login_container {
  padding: 0 2rem;
}

.form_input {
  background: #f7f7f7;
  color: #222;
  border: 0;
  border-radius: 0.25rem 0 0 0 0.25rem;
}

.user_input:focus {
  box-shadow: none;
  outline: 0px;
  color: black;
}

.checkbox_group .custom_checkbox:checked ~ .custom_label_checkbox::before {
  background-color: #16a085;
}

/** Register.php **/

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.background-login-img {
  background-image: url("../images/user-burger.jpg");
  background-size: cover;
  background-position: center;
}

.background-login-company-img {
  background-image: url("../images/company-photo-3.png");
  background-size: cover;
  background-position: center;
}

.background-img {
  background-image: url("../images/donuts.png");
  background-size: cover;
  background-position: center;
}

.login_header {
  font-weight: 300;
}

.btn-register {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.label-form-cluster {
  position: relative;
  margin-bottom: 1rem;
}

.label-form-cluster > input,
.label-form-cluster > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.label-form-cluster > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.label-form-cluster input::-webkit-input-placeholder {
  color: transparent;
}

.label-form-cluster input:-ms-input-placeholder {
  color: transparent;
}

.label-form-cluster input::-ms-input-placeholder {
  color: transparent;
}

.label-form-cluster input::-moz-placeholder {
  color: transparent;
}

.label-form-cluster input::placeholder {
  color: transparent;
}

.label-form-cluster input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.label-form-cluster input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .label-form-cluster > label {
    display: none;
  }
  .label-form-cluster input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .label-form-cluster > label {
    display: none;
  }
  .label-form-cluster input:-ms-input-placeholder {
    color: #777;
  }
}
.cart-icon {
  position: relative;
}
/*Customer navbar*/
.cart-label {
  color: white;
  background-color: #00a69c;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: auto;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: absolute;
  left: 26px;
  top: 0px;
  transition: all 0.3s;
}
.cart-label:hover {
  background-color: #00a69c;
}
/*
#link-cart-inner .fa-shopping-cart{
  background-color: #7C7C7D;
}*/

@media (max-width: 992px) {                  
  #link-cart-inner {
     display: none;
  }
}
