h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}
/********************* viewproducts.php **********************/
/**** Product grid ****/
.product-grid,.product-grid .product-image{position:relative}
.product-grid{font-family:Poppins,sans-serif;text-align:center;border-radius:5px;overflow:hidden;z-index:1;transition:all .3s ease 0s}
.product-grid:hover{box-shadow:0 0 10px rgba(0,0,0,.2)}
.product-grid .product-image {height: 50%;}
.product-grid .product-image a{display:block;}
.product-grid .product-image img{width:100%; height:auto;max-height: 100%;}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#16a085;font-size:13px;font-weight:800;text-transform:uppercase;line-height:45px;height:45px;width:45px;border-radius:50%;position:absolute;left:10px;top:15px;transition:all .3s}
.product-grid .product-discount-label{left:auto;right:10px;background-color:#d7292a}
.product-grid .product-content{padding:25px}
.product-grid .title{font-size:15px;font-weight:400;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid .title a{color:#222}
.product-grid .title a:hover{color:#16a085}
.product-grid .price{color:#16a085;font-size:17px;font-weight:700;margin:0 2px 15px 0;display:block}
.product-grid .price span{color:#909090;font-size:13px;font-weight:400;letter-spacing:0;text-decoration:line-through;text-align:left;vertical-align:middle;display:inline-block}
.product-grid .add-to-cart{border:1px solid #e5e5e5;display:inline-block;padding:10px 20px;color:#888;font-weight:600;font-size:14px;border-radius:4px;transition:all .3s}
.product-grid:hover .add-to-cart{border:1px solid transparent;background:#16a085;color:#fff}
.product-grid .add-to-cart:hover{background-color:#505050;box-shadow:0 0 10px rgba(0,0,0,.5)}

.product-content .rating{padding:0;margin:0 0 7px;list-style:none}
.product-grid .rating li{font-size:12px;color:#ffd200;transition:all .3s ease 0s}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}

